.container-icon-skills {
    display: flex;
    gap: 0.5rem;
    flex-flow: wrap;

    border-bottom: 1px solid var(--color-gray-900);
    padding-bottom: 2rem;
}

.container-icon-skills i {
    font-size: 2.5rem;
    display: flex;
}

.container-name-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.container-name-skills span {
    color: var(--color-gray-400);
}


.tag {
    align-items: center;
    background: var(--color-primary);
    padding: 0.2rem;
    border-radius: 0.3rem;
    color: var(--color-white);
    font-weight: 700;
}