.container-aside {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.5rem;
    align-items: center;
    flex-direction: column;
}

.container-aside span:hover {
    text-decoration: underline;
    color: var(--color-primary);
}


.container-links {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.5rem;
    align-items: center;
}

.container-links a {
    text-decoration: none;
    gap: 0.3rem;
    display: flex;
    align-items: end;
}

.container-links i:hover {
    color: #0a66c2;
}

.container-aside span,
p {
    color: var(--color-gray-400);
}